<div class="container">

    <div class="page-header">
        <h1>List page</h1>

    </div>
    <section  ng-controller="dashboardController as vm" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 table-head">Changelist/Build</div>
                <div class="col-md-1 table-head">Owner</div>
                <div class="col-md-3 table-head">Time Started</div>
                <div class="col-md-1 table-head">State</div>
                <div class="col-md-1 table-head">Metrics</div>
                <div class="col-md-1 table-head">Build</div>
                <div class="col-md-1 table-head">UnitTest</div>
                <div class="col-md-2 table-head">FunctionalTest</div>
            </div>
            <db-list-item  ng-repeat="listItem in vm.list" ng-model="listItem"></db-list-item>
        </div>
    </section>

</div>
