<div class="detail-box" ng-class="vm.borderClass">
    <div>

        <h4 ng-class="vm.color">Metrics</h4>
        <div clas="row">
            <div class="col-md-6 padding-left-zero">
                <db-arrow ng-model="vm.test"></db-arrow>
            </div>
            <div class="col-md-6 padding-left-zero">
                <db-arrow ng-model="vm.maintainability"></db-arrow>
            </div>
        </div>
        <div clas="row">
            <div class="col-md-6 padding-left-zero">
                <db-arrow ng-model="vm.security"></db-arrow>
            </div>
            <div class="col-md-6 padding-left-zero">
                <db-arrow ng-model="vm.workmanship"></db-arrow>
            </div>
        </div>

    </div>
</div>
