
.container-fluid{
    background-color: #FAFCFD;
}

.table-row{
    border:#f0f0f0 2px solid;
   margin-bottom: 10px;
    padding: 5px;
}
.table-cell, .table-head{
    display: table-cell;


}
.table-head{
    font-weight:bold;
    padding: 1em 1em 0.5em 1em;
}
