
.container-fluid{
    background-color: #FAFCFD;
}

.table-row{

   margin-bottom: 10px;
    height:38px;
    /*padding: 5px;*/
}
.table-cell, .table-head{
    display: table-cell;
    text-align: center;

}
.table-cell > div{
    display: inline-block;
    padding-top: 4px;
}
.table-cell > div > img{
    display: inline-block;
    padding-right: 15px;
}
.table-row > .table-cell:first-child{
    text-align: left;
    padding-left:5px;
}
.table-head{
    font-weight:bold;
    padding: 1em 1em 0.5em 1em;
}

.box{
    display: inline-block;
    min-width: 45px;
    min-height: 30px;
    margin-top:2px;
}
.box-red{
    background-color: #BE0712;
    border:#CBCBCC 2px solid;
}
.box-blue{
    background-color: #D8D8D8;
    border:#CBCBCC 2px solid;
    position: relative;
}

.box-blue > div{
    position: absolute;
    background-color: #5E9CD3;
    min-height: 26px;
    min-width: 25px;
}

.box-green{
    background-color: #548039;
    border:#CBCBCC 2px solid;
}

.box-gray{
    background-color: #D8D8D8;
    border:#CBCBCC 2px solid;
}
.red-border{
    border:#BE0712 2px solid;
}
.green-border{
    border:#548039 2px solid;
}
.gray-border{
    border:#CBCBCC 2px solid;
}

.blue-border{
    border:#5E9CD3 2px solid;
}